## EXPIRES CACHING ##
# My favicon
# Images
ExpiresByType images/gif "access plus 1 week"
ExpiresByType images/png "access plus 1 week"
ExpiresByType images/jpg "access plus 1 week"
ExpiresByType images/jpeg "access plus 1 week"
# CSS
ExpiresByType text/css "access 1 week"
# Javascript
ExpiresByType application/javascript "access plus 1 week"
## EXPIRES CACHING ##