@import "main.css";

.icon_all{
	width: 40px;
	height: 40px;
}

.art{
	width:100%;
	height:100%;
}

.about li{
	width: calc(33.33333%);
	text-align: left;
	display: marker;
}

#main > .main {
	padding:0px 20px 0px 20px;
}

section{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.features portfolio{
	width: calc(25% - 2em);
	margin-right: 1px;
}
